.radial_action_button {
  overflow: hidden;
  position: absolute;
  min-width: 80px;
  min-height: 40px;
  transform: translate(var(--radial-action-button-y), var(--radial-action-button-x));
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.action_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: var(--action-button-container-padding) 0;
}

.action_button_container::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.action_button_container::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.action_button_container::before,
.action_button_container::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.fade {
  animation: fade-in-keyframes 1s;
}
@keyframes fade-in-keyframes {
  from {opacity: 0}
  to {opacity: 1}
}
