$button_background_teal: #27aae2;
$button_background_navy: #1a75bc;
$button_background_pink: #ed008c;
$button_background_yellow: #fff890;
$button_background_white: #ffffff;

.action_button_background_triangle_iso {
  width: 0; 
  height: 0; 
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  
  border-left: 80px solid $button_background_teal;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.action_button_background_triangle_equ {
  width: 0; 
  height: 0; 
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  
  border-top: 60px solid $button_background_navy;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: -1;
}

.action_button_background_rectangle {
  width: 100px;
  height: 50px; 
  
  background: $button_background_yellow;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: -1;
}

.action_button_background_square {
  width: 60px;
  height: 60px; 
  
  background: $button_background_white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.action_button_background_hcircle {
  width: 100px;
  height: 50px; 
  border-radius: 50px 50px 0 0;
  
  background: $button_background_pink;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: -1;
}

.radial_action_button {
  min-height: 20px;
  max-height: 40px;
  margin-top: 30px;
  background: black;
  color: white;
  border: none;
  padding: 0 5px 0 5px;
  margin-left: 10px;
}

.radial_action_button_wrapper {
  position: absolute;
  transform: translate(var(--radial-action-button-y), var(--radial-action-button-x));
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.action_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: var(--action-button-container-padding) 0;
}

.action_button_container::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.action_button_container::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.action_button_container::before,
.action_button_container::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.fade {
  animation: fade-in-keyframes 1s;
}
@keyframes fade-in-keyframes {
  from {opacity: 0}
  to {opacity: 1}
}
